@using GDifare.Portal.Humalab.Seguridad.Modelos;
@using GDifare.Portal.Humalab.Servicio.Modelos.Orden;
@using Newtonsoft.Json;
@using System.Text.Json;
@using GDifare.Portal.Humalab.Servicio.Utils;

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model Orden

<link class="js-stylesheet" href="~/AdminKit/css/light.css" rel="stylesheet">

@{
    ViewData["Title"] = "Cliente";
    Layout = "/Views/Shared/_BootStrapLayoutMenu.cshtml";
}

@{
    ObjUsuario infousuario = JsonConvert.DeserializeObject<ObjUsuario>
        (HttpContextAccessor.HttpContext.Session.GetString("usuario"));


}


<div class="container-fluid  bg-white rounded-3 p-3 mt-2">

    <div class="d-flex gap-3 align-items-center">

        <a onclick="GuardarOrden()" class="btn btn-success"><i class="fa-solid fa-floppy-disk" style="color:white"></i> ACTUALIZAR</a>
        <a href="#" onclick="GenerarPDF()" class="btn btn-secondary"><i class="fa-solid fa-print" style="color:white"></i> IMPRIMIR ETIQUETA</a>
        <div id="EncabezadoBarra" class="d-flex gap-1 mt-2">
            <h5 id="NombreBarra" class="fs-4"></h5>
            <h5 id="lblBarra" class="fs-4 fw-bold"></h5>
        </div>
    </div>


</div>



<!--JS-->
<script src="~/AdminKit/js/notyf.js"></script>
<script src="~/AdminKit/js/app.js"></script>
<script src="~/js/Notificaciones.js"></script>
<script src="~/js/LimpiarTabla.js"></script>

<partial name="~/Views/Componentes/DemograficoPaciente.cshtml" />
<partial name="~/Views/Componentes/DemograficoPedido.cshtml" />
<partial name="~/Views/Componentes/BusquedaExamen.cshtml" />
<!--Alerta de Notificación-->
<partial name="~/Views/Componentes/Notificaciones/Success.cshtml" />
<partial name="~/Views/Componentes/Notificaciones/Warning.cshtml" />
<partial name="~/Views/Componentes/Notificaciones/Error.cshtml" />

<!--Modal-->
<partial name="~/Views/Modales/ObservacionPrueba.cshtml" />
<partial name="~/Views/Modales/PopUp.cshtml" />

<label id="lbljson"></label>


<script>

    var datosPrueba = new Object();
    var ConsultaOrden = new Object();
    var ConsultarPaciente = new Object();
    var examenPrecio = new Object();
    var MuestrasSelect = new Object();
    

    var PacienteOrden;
    var Orden;
    var CodigoOrden;
    var result;
    var codigoBarra;
    var idOrden;
    var contadorItem;

    var ListaPruebas = [];
    var ListaSelect = [];
    var PrecioOrden = [];
    var ListaMuestras = new Array();
    var MuestraFinal = [];

    var nombEstado = "";
    
    //validar caracteres especiales
    function validarCaracteres(texto){        
        const tempElement = document.createElement('textarea');
        tempElement.innerHTML = texto;

        var nuevoValor = tempElement.value;        
        return nuevoValor;
    }


    window.addEventListener('load', function () {        

        contadorItem=@Numeros.Cero
        nombreFuncion = "@Funcion.EliminarPrueba"        
        ListaSelect = []
        PrecioOrden = []           
               
        //DesactivarControlesOrden();

        //Demográficos del Paciente
        document.getElementById("txtIdentPac").value = "@Model.Identificacion"
        document.getElementById("txtNomPac").value = validarCaracteres("@Model.Paciente.Nombres")
        document.getElementById("txtApellPac").value = validarCaracteres("@Model.Paciente.Apellidos")
        document.getElementById("txtEdadPac").value = "@Model.Paciente.Edad"
        document.getElementById("txtTelPac").value = "@Model.Paciente.Telefono!.Substring(4)"
        document.getElementById("txtCorrPac").value = "@Model.Paciente.Email"
        document.getElementById("dtpNaciPac").value = '@Model.Paciente.FechaNacimiento.ToString("yyyy-MM-dd")'        
        document.getElementById("txtCodLab").value = '@Model.Paciente.CodLaboratorio';

        if ("@Model.Paciente.Genero" === "@Estados.Falso") {
            document.getElementById("selGenPac").value = "@Numeros.Cero"
        }
        else {
            document.getElementById("selGenPac").value = "@Numeros.Uno"
        }
        
        //Demográficos de la Orden
        document.getElementById("dptFecIng").value = moment().format("DD/MM/YYYY hh:mm")
        document.getElementById("txtMedicamento").value = "@Model.Medicamento"
        document.getElementById("txtObsOrd").value = "@Model.Observacion"
        document.getElementById("txtDiagnostico").value = "@Model.Diagnostico"
        document.getElementById("NombreBarra").innerHTML = "Código de Barra:";
        document.getElementById("lblBarra").innerHTML = "@Model.CodigoBarra";
        document.getElementById("txtCodLab").value = "@Model.Paciente.CodLaboratorio";

        idOrden = "@Model.IdOrden";
        codigoBarra = "@Model.CodigoBarra";
        
        //Desactivar Datos de la Orden
        DesacOrdeneDemograficos();                          

        NumeroOrden(codigoBarra);

        //Cargar con Datos el Combo Pruebas
        //CargarCatalogoPruebas()

        //Cargar Datos con las nuevas Pruebas
        CargarCatalogoPruebasNew();

        //Datos de la Prueba
        ListarPruebasOrden();

        //Tipo de paciente
        CargarTiposClientesEdit()
        
    });

    function CargarTiposClientesEdit() {
        
        var tipoPaciente = "@Model.Paciente.TipoPaciente";
        var cmbTiposClientes = document.getElementById("selTipCliente");


        $.ajax({
            url: '@Url.Action("TiposClientesHumalab", "Cliente")',
            type: 'GET',
            success: function (response) {

                //console.log(response);

                for (var i = 0; i < response.length; i++) {
                    var opCombo = document.createElement("option");
                    opCombo.text = response[i].nombreCatalogo;
                    opCombo.value = response[i].idCatalogo;

                    cmbTiposClientes.appendChild(opCombo);
                }

                var cmbTipoPac = document.getElementById("selTipCliente");

                for (var i = 0; i < cmbTipoPac.options.length; i++) {

                    if (cmbTipoPac.options[i].value === tipoPaciente) {
                        cmbTipoPac.selectedIndex = i;
                        break;
                    }
                }
            }
        });
    }

    function DesacOrdeneDemograficos() {

        //hacer una consulta a la BD para obtener el nombre del estado
        $.ajax({
            url: '@Url.Action("NombreEstadoOrden","Cliente")',
            type: 'GET',
            data: { IdOrdenEstado: @Model.Estado },
            success: function (response) {
                nombEstado = response;

                if (nombEstado === "En Analisis" || nombEstado === "Enviado" || 
                    nombEstado === "Enviado Parcial" || nombEstado === "Rechazada" || 
                    nombEstado === "Recibida Parcial" || nombEstado === "Recibida" || 
                    nombEstado === "Recolectado Parcial" || nombEstado === "Recolectado Total" ||
                    nombEstado === "Validacion pendiente" || nombEstado === "Resultado pendiente" ||
                    nombEstado === "Validado") {

                    document.getElementById("txtIdentPac").disabled = true;
                    document.getElementById("txtNomPac").disabled = true;
                    document.getElementById("txtApellPac").disabled = true;
                    document.getElementById("txtEdadPac").disabled = true;
                    document.getElementById("txtTelPac").disabled = true;
                    document.getElementById("txtCorrPac").disabled = true;
                    document.getElementById("dtpNaciPac").disabled = true;
                    
                    document.getElementById("dptFecIng").disabled = true;
                    document.getElementById("txtMedicamento").disabled = true;
                    document.getElementById("txtObsOrd").disabled = true;
                    document.getElementById("txtDiagnostico").disabled = true;
                    document.getElementById("selGenPac").disabled = true;
                    document.getElementById("txtCodLab").disabled = true;

                    var botonEliminar = document.getElementById("mensajePopUp").innerHTML

                }else{
                    document.getElementById("txtIdentPac").disabled = false;
                    document.getElementById("txtNomPac").disabled = false;
                    document.getElementById("txtApellPac").disabled = false;
                    document.getElementById("txtEdadPac").disabled = false;
                    document.getElementById("txtTelPac").disabled = false;
                    document.getElementById("txtCorrPac").disabled = false;
                    document.getElementById("dtpNaciPac").disabled = false;

                    document.getElementById("dptFecIng").disabled = false;
                    document.getElementById("txtMedicamento").disabled = false;
                    document.getElementById("txtObsOrd").disabled = false;
                    document.getElementById("txtDiagnostico").disabled = false;
                    document.getElementById("selGenPac").disabled = false;
                    document.getElementById("dptFecIng").disabled = false;
                }
            }

        });
    }

    function DesactivarControlesOrden()
    {
        document.getElementById("txtIdentPac").disabled = true;
        document.getElementById("txtNomPac").disabled = true;
        document.getElementById("txtApellPac").disabled = true; 
        document.getElementById("txtEdadPac").disabled = true;
        document.getElementById("txtTelPac").disabled = true;
        document.getElementById("txtCorrPac").disabled = true;
        document.getElementById("dtpNaciPac").disabled = true;

        document.getElementById("dptFecIng").disabled = true;
        document.getElementById("txtMedicamento").disabled = true;
        document.getElementById("txtObsOrd").disabled = true;
        document.getElementById("txtDiagnostico").disabled = true;
        document.getElementById("selGenPac").disabled = true;
    }


    function NumeroOrden(Barra)
    {
        // console.log("Numero de Orden");
        // console.log(Barra.substring(10,11));
        // console.log(Barra.substring(9, 11));
        // console.log(Barra.substring(8, 10));
        // console.log(Barra.substring(7, 11));
        // console.log(Barra.substring(6, 11));
        document.getElementById("txtNOrden").value = Barra.substring(11, 12);
        if(Barra.substring(10,11) !="@Numeros.Cero")
        {
            // console.log("Entra If");
            document.getElementById("txtNOrden").value = Barra.substring(10,12);
        }
        
        if (Barra.substring(8, 10) != "@Numeros.Cero@Numeros.Cero") {
            // console.log("Entra If");
            document.getElementById("txtNOrden").value = Barra.substring(9, 12);
        }

        if (Barra.substring(7, 9) != "@Numeros.Cero@Numeros.Cero") {
            // console.log("Entra If");
            document.getElementById("txtNOrden").value = Barra.substring(8, 12);
        }

        if (Barra.substring(6, 8) != "@Numeros.Cero@Numeros.Cero") {
            // console.log("Entra If");
            document.getElementById("txtNOrden").value = Barra.substring(7, 12);
        }

        if (Barra.substring(5, 7) != "@Numeros.Cero@Numeros.Cero") {
            // console.log("Entra If");
            document.getElementById("txtNOrden").value = Barra.substring(5, 12);
        }
    }
    

    function ListarPruebasOrden()
    {
        $.ajax({
            url: '@Url.Action("ListarPruebas","Cliente")',
            type: 'GET',
            data: { IdOrden: @Model.IdOrden, IdUsuario: @infousuario.UsuarioID },
            success: function (response) {
                const resp = JSON.parse(response)                
                LlenarTable(resp)
            }
        });
    }


    function LlenarTable(resp) {
        var html = '';
        var recipiente = '';
        var muestraAlterna = '';        

        for (var i = 0, size = resp.length; i < size; i++) {            

            MuestrasSelect = {
                id: i,
                IdOrden: @Model.IdOrden,
                IdPrueba: resp[i].idPrueba,
                IdPruebaGalileo: resp[i].idPruebaGalileo,
                IdMuestraGalileo: resp[i].idMuestraGalileo,
                CodigoExamen: resp[i].codigoExamen,
                EsPerfil: resp[i].esPerfil,
                Abreviatura: resp[i].abreviatura,
                Metodologia: resp[i].metodologia,
                Nombre: resp[i].nombre,
                NombreMuestra: resp[i].nombreMuestra,
                MuestraAlterna: resp[i].muestraAlterna,
                Recipiente: resp[i].recipiente,
                Precio: resp[i].precio,
                CodigoBarra: codigoBarra,
                UsuarioCreacion: @infousuario.UsuarioID
                                }
            examenPrecio = {
                id: i,
                Precio: resp[i].precio
            }

            // MuestrasSelect = {
            //     id: i,
            //     IdOrden: @Model.IdOrden,
            //     IdPrueba:resp[i].IdPrueba,
            //     IdPruebaGalileo: resp[i].IdPruebaGalileo,
            //     IdMuestraGalileo: resp[i].IdMuestraGalileo,
            //     CodigoExamen: resp[i].CodigoExamen,
            //     EsPerfil: resp[i].EsPerfil,
            //     Abreviatura: resp[i].Abreviatura,
            //     Metodologia: resp[i].Metodologia,
            //     Nombre: resp[i].Nombre,
            //     NombreMuestra: resp[i].NombreMuestra,
            //     MuestraAlterna: resp[i].MuestraAlterna,
            //     Recipiente: resp[i].Recipiente,
            //     Precio: resp[i].Precio,
            //     CodigoBarra: codigoBarra,
            //     UsuarioCreacion: @infousuario.UsuarioID
            //                 }
            // examenPrecio = {
            //     id: i,
            //     Precio: resp[i].Precio
            // }

            PrecioOrden.push(examenPrecio);
            ListaSelect.push(MuestrasSelect);

            if (resp[i].recipiente === undefined || resp[i].recipiente === null) {
                recipiente = "@Caracteres.Guion";
            }
            else {
                recipiente = resp[i].recipiente;
            }

            if (resp[i].muestraAlterna === undefined || resp[i].muestraAlterna === null) {
                muestraAlterna = "@Caracteres.Guion";
            }
            else {
                muestraAlterna = resp[i].muestraAlterna;
            }

            // if (resp[i].Recipiente === undefined || resp[i].Recipiente === null) {
            //     recipiente = "@Caracteres.Guion";
            // }
            // else {
            //     recipiente = resp[i].Recipiente;
            // }

            // if (resp[i].MuestraAlterna === undefined || resp[i].MuestraAlterna === null) {
            //     muestraAlterna = "@Caracteres.Guion";
            // }
            // else {
            //     muestraAlterna = resp[i].MuestraAlterna;
            // }

            contadorItem++;
            html = '<tr class="odd"' + 'id="fila' + i + '"' + '>'
                + '<td class="text-center" hidden>' + contadorItem + '</td>'
                + '<td class="sorting_1 text-center">' + resp[i].codigoExamen + '</td>'
                + ' <td>' + resp[i].nombre + '</td>'
                + ' <td class="text-center">' + resp[i].abreviatura + '</td>'
                // + ' <td class="text-center">' + resp[i].metodologia + '</td>'
                + ' <td>' + resp[i].nombreMuestra + '</td>'
                //+ ' <td class="text-center">' + recipiente + '</td>'
                + ' <td class="text-center">' + resp[i].precio + '</td>'
                + ' <td>' + muestraAlterna + '</td>'
                + '<td class="justify-content-center align-items-center">'
                + '<div class="d-flex">'
                + '<a class="btn text-decoration-none" onclick="eliminarFila(' + i + ');"><i class="fa-solid fa-xmark" style="color: #d4024c;"></i></a>'
                + '</div>'
                + '</td>'
                + '</tr>'
            $('#TbItemsExamen').append(html);
            // html = '<tr class="odd"' + 'id="fila' + i + '"' + '>'
            //     + '<td class="text-center" hidden>' + contadorItem + '</td>'
            //     + '<td class="sorting_1 text-center">' + resp[i].CodigoExamen + '</td>'
            //     + ' <td>' + resp[i].Nombre + '</td>'
            //     + ' <td class="text-center">' + resp[i].Abreviatura + '</td>'
            //     + ' <td class="text-center">' + resp[i].Metodologia + '</td>'
            //     + ' <td>' + resp[i].NombreMuestra + '</td>'
            //     //+ ' <td class="text-center">' + recipiente + '</td>'
            //     + ' <td class="text-center">' + resp[i].Precio + '</td>'
            //     + ' <td>' + muestraAlterna + '</td>'
            //     + '<td class="justify-content-center align-items-center">'
            //     + '<div class="d-flex">'
            //     + '<a class="btn text-decoration-none" onclick="eliminarFila(' + i + ');"><i class="fa-solid fa-xmark" style="color: #d4024c;"></i></a>'
            //     + '</div>'
            //     + '</td>'
            //     + '</tr>'
            // $('#TbItemsExamen').append(html);
        }

        TotalOrden();
    }

    // function CargarCatalogoPruebas() {

    //     $.ajax({
    //         url: '@Url.Action("CatalogoPruebas","Cliente")',
    //         type: 'GET',
    //         beforeSend: function () {
    //             loadingShow();
    //         },
    //         success: function (response) {

    //             if(response !== "01"){
    //                 const resp = JSON.parse(response)
    //                 const lista = resp.examen[0].details
    //                 ComboPruebas(lista);
    //                 loadingHide();
    //             }
    //             else{
    //                 MensajeAlerta1("@Notificaciones.TituloDanger", "Problemas para obtener el catalogo de pruebas.");
    //             }
    //         }

    //     });
    // }

    function CargarCatalogoPruebasNew() {
        $.ajax({
            url: '@Url.Action("CatalogoPruebasNew","Cliente")',
            type: 'GET',
            success: function (response) {
                if (response !== "01") {
                    var resp = JSON.parse(response);
                    ComboPruebasNew(resp);
                    loadingHide();
                }
                else {
                    MensajeAlerta1("@Notificaciones.TituloDanger", "Problemas para obtener el catalogo de pruebas.");
                }
            }

        });
    }

    // function ComboPruebas(lista) {
    //     var html = '';
    //     var nombreMuestra = '';
    //     var idMuestra = 0;
    //     for (var key = 0, size = lista.length; key < size; key++) {

    //         if (lista[key].EsPerfil === true) {
    //             nombreMuestra = lista[key].ExamenPerfil[0].NombreMuestra;
    //             idMuestra = lista[key].ExamenPerfil[0].IdMuestra;
    //         }
    //         else {
    //             nombreMuestra = lista[key].NombreMuestra;
    //             idMuestra = lista[key].IdMuestra;
    //         }

    //         datosPrueba = {
    //             IdExamen: lista[key].IdExamen,
    //             //IdMuestra: lista[key].IdMuestra,
    //             IdMuestra: idMuestra,
    //             CodigoExamen: lista[key].CodigoExamen,
    //             EsPerfil: lista[key].EsPerfil,
    //             Nombre: lista[key].NombreExamen,
    //             Abreviatura: lista[key].AbreviaturaExamen,
    //             Metodologia: lista[key].Autovalidacion,
    //             Muestra: nombreMuestra,
    //             Recipiente: lista[key].Recipiente,
    //             Observaciones: lista[key].ComentarioFijo,
    //             MuestraAlterna: lista[key].MuestraAdicional,
    //             Precio: lista[key].CostoPrueba
    //         }
    //         ListaPruebas.push(datosPrueba);
            
    //         html += '<option value="' + key + '"' + '>'
    //             + '<div class="d-flex">'
    //             + '<h5>' + lista[key].CodigoExamen + " " + '</h5>'
    //             + '<h5>' + lista[key].NombreExamen + " " + '</h5>'
    //             + '<h5>' + '$' + lista[key].CostoPrueba + '</h5>'
    //             + '</div>'

    //             + '</option>';

    //     }

    //     $('#select-pruebas').append(html);
    // }

    function ComboPruebasNew(lista) {
        var html = '';
        var nombreMuestra = '';
        var idMuestra = 0;

        for (var key = 0, size = lista.length; key < size; key++) {

            if (lista[key].Estado !== 'Inactivo') {
                
                datosPrueba = {
                    IdExamen: lista[key].IdExamen,
                    IdMuestra: lista[key].IdMuestra,
                    CodigoExamen: lista[key].CodigoExamen,
                    EsPerfil: lista[key].EsPerfil,
                    Nombre: lista[key].Nombre,
                    Abreviatura: lista[key].Abreviatura,
                    Metodologia: lista[key].Metodologia,
                    Muestra: lista[key].Muestra,
                    Recipiente: lista[key].Recipiente,
                    Observaciones: lista[key].Observaciones,
                    MuestraAlterna: lista[key].MuestraAlterna,
                    Precio: lista[key].Precio
                }

                ListaPruebas.push(datosPrueba);

                html += '<option value="' + key + '"' + '>'
                    + '<div class="d-flex">'
                    + '<h5>' + lista[key].CodigoExamen + " " + '</h5>'
                    + '<h5>' + lista[key].Nombre + " " + '</h5>'
                    + '<h5>' + '$' + lista[key].Precio + '</h5>'
                    + '</div>'

                    + '</option>';
            }            
        }

        $('#select-pruebas').append(html);
    }

    function SelectTable() {
        var valor = document.getElementById("select-pruebas").value;
        var html = '';
        var recipiente = '';
        var muestraAlterna = '';
        var precioPrueba = @Numeros.Cero;
        var metodologia = '';
        var contarrepetidos = @Numeros.Cero;

        for (var i = 0, size = ListaPruebas.length; i < size; i++) {
            if (valor == i) {

                MuestrasSelect = {
                    id: i,
                    IdOrden: @Model.IdOrden,
                    IdPrueba: null,
                    IdPruebaGalileo: ListaPruebas[i].IdExamen,
                    IdMuestraGalileo: ListaPruebas[i].IdMuestra,
                    CodigoExamen: ListaPruebas[i].CodigoExamen,
                    Abreviatura: ListaPruebas[i].Abreviatura,
                    Metodologia: ListaPruebas[i].Metodologia,
                    EsPerfil: ListaPruebas[i].EsPerfil,
                    Nombre: ListaPruebas[i].Nombre,
                    NombreMuestra: ListaPruebas[i].Muestra,
                    MuestraAlterna: ListaPruebas[i].MuestraAlterna,
                    Recipiente: ListaPruebas[i].Recipiente,
                    Precio: ListaPruebas[i].Precio,
                    CodigoBarra: codigoBarra,
                    Observaciones: ListaPruebas[i].Observaciones,
                    UsuarioCreacion: @infousuario.UsuarioID
                }

                examenPrecio = {
                    id: i,
                    Precio: ListaPruebas[i].Precio
                }

                //obtener el precio y agregar en la tabla columna precio
                if (ListaPruebas[i].Precio === null) {
                    precioPrueba = 0;
                }else{
                    precioPrueba = ListaPruebas[i].Precio
                }

                if (ListaPruebas[i].Recipiente === undefined || ListaPruebas[i].Recipiente === null) {

                    recipiente = "@Caracteres.Guion";

                }
                else {
                    recipiente = ListaPruebas[i].Recipiente;
                }

                if (ListaPruebas[i].MuestraAlterna === undefined || ListaPruebas[i].MuestraAlterna === null) {
                    muestraAlterna = "@Caracteres.Guion";
                }
                else {
                    muestraAlterna = ListaPruebas[i].MuestraAlterna;
                }

                if (ListaSelect.length > 0) {
                    for (var j = 0; j < ListaSelect.length; j++) {

                        if (ListaPruebas[i].IdExamen === ListaSelect[j].IdPruebaGalileo) {

                            contarrepetidos++;

                        }
                    }
                    if (contarrepetidos === @Numeros.Cero) {
                        PrecioOrden.push(examenPrecio);

                        ListaSelect.push(MuestrasSelect);
                        contadorItem++;

                        html = '<tr class="odd"' + 'id="fila' + i + '"' + '>'
                            + '<td class="text-center" hidden>' + contadorItem + '</td>'
                            + '<td class="sorting_1 text-center">' + ListaPruebas[i].CodigoExamen + '</td>'
                            + ' <td>' + ListaPruebas[i].Nombre + '</td>'
                            + ' <td class="text-center">' + ListaPruebas[i].Abreviatura + '</td>'
                            // + ' <td class="text-center">' + metodologia + '</td>'
                            + ' <td>' + ListaPruebas[i].Muestra + '</td>'
                            //+ ' <td class="text-center">' + recipiente + '</td>'
                            + ' <td class="text-center">' + precioPrueba + '</td>'
                            + ' <td class="text-center">' + muestraAlterna + '</td>'
                            + '<td class="justify-content-center align-items-center">'
                            + '<div class="d-flex">'
                            + '<a class="btn text-decoration-none" onclick="eliminarFila(' + i + ');"><i class="fa-solid fa-xmark" style="color: #d4024c;"></i></a>'
                            + '</div>'
                            + '</td>'
                            + '</tr>'

                        $('#TbItemsExamen').append(html);
                    }
                }
                else {

                    PrecioOrden.push(examenPrecio);

                    ListaSelect.push(MuestrasSelect);

                    contadorItem++;
                    html = '<tr class="odd"' + 'id="fila' + i + '"' + '>'
                        + '<td class="text-center" hidden>' + contadorItem + '</td>'
                        + '<td class="sorting_1 text-center">' + ListaPruebas[i].CodigoExamen + '</td>'
                        + ' <td>' + ListaPruebas[i].Nombre + '</td>'
                        + ' <td class="text-center">' + ListaPruebas[i].Abreviatura + '</td>'
                        // + ' <td class="text-center">' + metodologia + '</td>'
                        + ' <td>' + ListaPruebas[i].Muestra + '</td>'
                        //+ ' <td class="text-center">' + recipiente + '</td>'
                        + ' <td class="text-center">' + precioPrueba + '</td>'
                        + ' <td class="text-center">' + muestraAlterna + '</td>'
                        + '<td class="justify-content-center align-items-center">'
                        + '<div class="d-flex">'
                        + '<a class="btn text-decoration-none" onclick="eliminarFila(' + i + ');"><i class="fa-solid fa-xmark" style="color: #d4024c;"></i></a>'
                        + '</div>'
                        + '</td>'
                        + '</tr>'

                    $('#TbItemsExamen').append(html);

                }
            }
        }

        sortTable();
        TotalOrden();
    }

    function sortTable() {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("TExamenOrden");
        switching = true;
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("TD")[0];
                y = rows[i + 1].getElementsByTagName("TD")[0];
                // Check if the two rows should switch place:
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                    // If so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }

    function EliminarOrden()
    {
        var filaEliminada = {
            IdOrden: idOrden,
            UsuarioCreacion: @infousuario.UsuarioID
        }

        $.ajax({
            url: '@Url.Action("EliminarOrden","Cliente")',
            type: 'POST',
            data: { orden: filaEliminada },
            beforeSend: function () {
                loadingShow();
            },
            success: function (response) {

                if (response === @Transaccion.Correcta) {

                    window.location.href = "@Url.Action("ConsultarOrdenes","Cliente")";
                }
                else {
                    MensajeAlerta1("@Notificaciones.TituloDanger", "@Notificaciones.DangerError");
                }

                loadingHide();
            }

        });
    }

    function eliminarFila(index) {
        indicePop = index;
        if(ListaSelect.length<=1)
        {
            document.getElementById("mensajePopUp").innerHTML = "@Notificaciones.WarningEliminarPrueba";
            $('#ModalPopUp').modal('show');           
        }
        else{

            EliminarPrueba(index);
        }       
    }

    function EliminarPrueba(index)
    {
        $.ajax({
            url: '@Url.Action("EliminarPruebas","Cliente")',
            type: 'POST',
            data: { prueba: ListaSelect[index] },
            beforeSend: function () {
                loadingShow();
            },
            success: function (response) {

                if (response == @Transaccion.Correcta) {
                    $("#fila" + index).remove();
                    
                    for (var i = 0, size = ListaSelect.length; i <= size; i++) {
                        if (ListaSelect[i].id == index) {
                            ListaSelect.splice(i, 1);
                            break;
                        }
                    }

                    for (var i = 0; i < PrecioOrden.length; i++) {
                        if (PrecioOrden[i].id == index) {
                            PrecioOrden.splice(i, 1);
                            break;
                        }
                    }

                    TotalOrden();
                }
                else {

                    MensajeAlerta("@Notificaciones.TituloDanger", "@Notificaciones.DangerError");
                }

                loadingHide();
            }

        });
    }

    
    function TotalOrden() {        
        var Sumar = 0;
        
        if (PrecioOrden.length > 0) {
            for (var i = 0; i < PrecioOrden.length; i++) {
                Sumar += parseFloat(PrecioOrden[i].Precio);
            }
            document.getElementById("lblTotalOrden").value = "@Caracteres.Dolar" + Sumar.toFixed(2);
        }
        else {            
            document.getElementById("lblTotalOrden").value = "@Caracteres.Dolar" + "@NumDecimales.CeroString";
        }
    }


    function GenerarPDF() {

        $.ajax({
            url: '@Url.Action("ObtenerPDF","Cliente")',
            type: 'POST',
            data: { IdOrden: idOrden },
            success: function (response) {

                let pdfWindow = window.open("")
                pdfWindow.document.write(
                    "<iframe width='100%' height='100%' src='data:application/pdf;base64, " +
                    encodeURI(response) + "'></iframe>"
                )
                pdfWindow.document.title = 'Etiquetas'
            }
        });
    }

    function GuardarOrden() {
        if (CamposObligatorios()) {
            DatosOrden();
            ActualizarOrden();
        }
    }

    function DatosOrden() {
        DatosPaciente();
        Orden = {
            IdOrden: @Model.IdOrden,
            IdPedidos: null,
            IdUsuarioGalileo: @infousuario.UsuarioID,
            Identificacion: document.getElementById("txtIdentPac").value,
            CodigoBarra: @Model.CodigoBarra,
            Medicamento: document.getElementById("txtMedicamento").value,
            Diagnostico: document.getElementById("txtDiagnostico").value,
            Observacion: document.getElementById("txtObsOrd").value,
            Estado: @Model.Estado, //verificar
            Pruebas: ListaSelect,
            Paciente: PacienteOrden,
            CodigoBarra:codigoBarra,
            UsuarioCreacion: @infousuario.UsuarioID,
            FechaCreacion: document.getElementById("dptFecIng").value,

        }
    }

    function DatosPaciente() {
        var ident = document.getElementById("txtIdentPac").value;
        var nomPac = document.getElementById("txtNomPac").value;
        var apellPac = document.getElementById("txtApellPac").value;
        var genero = document.getElementById("selGenPac").value;
        var fecha = document.getElementById("dtpNaciPac").value;
        var edadPac = document.getElementById("txtEdadPac").value;
        var codPais = document.getElementById("txtcodigoPais").value;
        var telPac = document.getElementById("txtTelPac").value;
        var corrPac = document.getElementById("txtCorrPac").value;
        var telefono = codPais + telPac;
        var resGenero = false;    
        
        //Tipo paciente
        var tipCliente = document.getElementById("selTipCliente");
        var txtTipCliente = tipCliente.selectedIndex;

        var valTipo = tipCliente.options[txtTipCliente].value;
        var txtTipo = tipCliente.options[txtTipCliente].text;

        //codigo de laboratorio
        var codLab = document.getElementById("txtCodLab").value;

        if(genero === "@Numeros.Uno"){
            resGenero = true;
        }
        else if(genero === "@Numeros.Cero"){
            resGenero = false;
        }

        PacienteOrden = {
            Identificacion: ident,
            Nombres: nomPac,
            Apellidos: apellPac,
            Genero: resGenero,
            FechaNacimiento: fecha,
            Edad: edadPac,
            Telefono: telefono,
            Email: corrPac,
            UsuarioCreacion: @infousuario.UsuarioID,
            FechaCreacion: document.getElementById("dptFecIng").value,
            TipoPaciente: valTipo, //verificar
            CodLaboratorio: codLab //verificar

        }
    }

    function CamposObligatorios() {
        var ident = document.getElementById("txtIdentPac").value;
        var nomPac = document.getElementById("txtNomPac").value;
        var apellPac = document.getElementById("txtApellPac").value;
        var genero = document.getElementById("selGenPac").value;
        var fecha = document.getElementById("dtpNaciPac").value;
        var edadPac = document.getElementById("txtEdadPac").value;
        var telPac = document.getElementById("txtTelPac").value;
        var corrPac = document.getElementById("txtCorrPac").value;

        var obsOrd = document.getElementById("txtObsOrd").value;
        var Medicamentos = document.getElementById("txtMedicamento").value;
        var DiagOrd = document.getElementById("txtDiagnostico").value;
        var numfila = document.getElementById('TExamenOrden').getElementsByTagName('tr').length - 1;


        if (validaVacio(ident) || validaVacio(nomPac) || validaVacio(apellPac) /* || validaVacio(edadPac) */
            // || fecha == moment().format("YYYY-MM-DD")
            || genero == 2) {
            MensajeAlerta("@Notificaciones.TituloWarning", "@Notificaciones.WarningCampos");
            return false;
        }

        if (numfila < 1) {
            MensajeAlerta("@Notificaciones.TituloWarning", "@Notificaciones.WarningExamen");
            return false;
        }
        else {
            return true;
        }

    }

    function ActualizarOrden() {
        $.ajax({
            url: '@Url.Action("ActualizarOrden","Cliente")',
            type: 'POST',
            data: { orden: Orden },
            success: function (response) {

                if (response == 201) {
                    MensajeAlerta("@Notificaciones.TituloSuccess", "@Notificaciones.SuccessOrdenActualizada");
                }
                else {
                    MensajeAlerta("@Notificaciones.TituloDanger", "@Notificaciones.DangerError");
                }
            }

        });
    }

</script>