@using GDifare.Portal.HumaLab.UI.Models.Pedidos;
@using GDifare.Portal.Humalab.Seguridad.Modelos;
@using Newtonsoft.Json;
@using GDifare.Portal.Humalab.Servicio.Utils;

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<link class="js-stylesheet" href="~/AdminKit/css/light.css" rel="stylesheet">
@model BuscarPedidosOpLogistico


<div id="divContenedor" class="container-fluid bg-white rounded-3 mt-3">

    @{
        ObjUsuario usuario = JsonConvert.DeserializeObject<ObjUsuario>(HttpContextAccessor.HttpContext.Session.GetString("usuario"));
    }

    <input type="hidden" id="nombreModelo" data-estado="@Model.Estado" />
    <form asp-action="Index" method="post"> 
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row d-flex p-3">
        
        <div class="row">
            <div class="col">
                <div class="form-group d-flex">
                        <label asp-for="FechaDesde" class="control-label fw-bold d-inline"></label>
                    <input asp-for="FechaDesde" class="form-control flex-row" value="@Model.FechaDesde.ToString("yyyy-MM-dd")" required/>
                    <span asp-validation-for="FechaDesde" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group d-flex">
                        <label asp-for="FechaHasta" class="control-label fw-bold d-inline"></label>
                    <input asp-for="FechaHasta" class="form-control flex-row" value="@Model.FechaHasta.ToString("yyyy-MM-dd")" required/>
                        
                    <span asp-validation-for="FechaHasta" class="text-danger"></span>
                </div>
             </div>
                <div class="col">
                    <input asp-for="Cliente" id="Cliente" class="form-control d-inline" placeholder="Cliente" value="@Model.Cliente" name="Cliente" />
                    <div class="form-check">
                        <input asp-for="BuscarPorIdentificacion" class="form-check-input" type="checkbox" checked="@Model.BuscarPorIdentificacion" id="BuscarPorRuc" name="BuscarPorIdentificacion">
                        <label class="form-check-label" for="BuscarPorRuc">Busqueda por RUC</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group d-flex">
                        <label asp-for="Estado" class="control-label fw-bold" style="margin-left: 5px; margin-right: 10px"></label>
                        <div class="col">
                            <select id="cmbestado" asp-for="Estado" class="form-select" value="@Model.Estado" >
                                <option value=""></option>
                            </select>
                        </div>
                        @{
                            int id = 0;
                            int.TryParse(usuario.Identificacion, out id);
                            int idOperador = (usuario.RolID == Roles.RolOperador) ? id : usuario.UsuarioID;
                        }
                        <input asp-for="IdOperadorLogistico" value="@idOperador" hidden />
                    </div>
                </div>
             <div class="col-md-1 d-flex justify-content-right">
                <div class="form-group">
                    <input id="buscar" type="submit" value="Buscar" class="btn btn-primary" />
                </div>
             </div>
        </div>
    </div>

    </form>

</div>

<script>

    $(document).ready(function () {
        var valorSeleccionado = '@Model.Estado';

        var recolectado = "RCTL";
        var recolParcial = "RCPC";
        var enviado = "ENV";
        var envParcial = "ENVP";

        CargarEstadosPedido(valorSeleccionado); 

        function CargarEstadosPedido(valorSeleccionado) {
            var nombreMaestro = "@Estados.Pedido";
            $.ajax({
                url: '@Url.Action("EstadosPedido","OpLogistico")',
                type: 'GET',
                data: { nombreMaestro: nombreMaestro },
                success: function (response) {
                    var comboEstados = document.getElementById('cmbestado');
                    comboEstados.innerHTML = '';                    

                    for (var i = 0; i < response.length; i++) {                                               

                        if (response[i].valor === recolectado ||
                            response[i].valor === recolParcial ||
                            response[i].valor === enviado ||
                            response[i].valor === envParcial) {
                        }else{
                            var opciones = document.createElement('option');
                            opciones.text = response[i].nombre;
                            opciones.value = response[i].valor;

                            comboEstados.add(opciones);                            
                        }
                    }

                    // Restaurar el valor seleccionado después de cargar los datos
                    $("#cmbestado").val(valorSeleccionado);
                    if (valorSeleccionado === "RCTL" || valorSeleccionado === "RCPC"){
                        puedeEntregar = true;
                    }                        
                    else {
                        puedeEntregar = false;
                    }                        

                    var ejecutarEvento = @Html.Raw(Json.Serialize(ViewBag.CargaDatos));                    

                    if (ejecutarEvento) {
                        $('#buscar').click();
                    }
                },
                error: function (error) {
                    MensajeAlerta1("@Notificaciones.TituloDanger", "@Notificaciones.DangerConsultaCatalogo");                    
                }
            });
        }
    });


</script>




